In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances

In [5]:
df = pd.read_csv('anime.csv')

In [9]:
df.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

In [17]:
df['Genres']

0          Action, Adventure, Comedy, Drama, Sci-Fi, Space
1                    Action, Drama, Mystery, Sci-Fi, Space
2        Action, Sci-Fi, Adventure, Comedy, Drama, Shounen
3        Action, Mystery, Police, Supernatural, Drama, ...
4                Adventure, Fantasy, Shounen, Supernatural
                               ...
17557                     Adventure, Mystery, Supernatural
17558                         Comedy, Horror, Supernatural
17559    Mystery, Dementia, Horror, Psychological, Supe...
17560                     Adventure, Slice of Life, Comedy
17561                                      Action, Fantasy
Name: Genres, Length: 17562, dtype: object

In [21]:
type(df['Genres'].iloc[0])

str

In [29]:
df['Genres'] = df['Genres'].str.replace(',', '', regex=False)

In [131]:
df['Name'] = df['Name'].str.lower()

In [33]:
tfidf = TfidfVectorizer(max_features=100)

In [35]:
X = tfidf.fit_transform(df['Genres'])

In [135]:
idxMapping = pd.Series(df.index, index=df['Name'])

In [137]:
idxMapping

Name
cowboy bebop                           0
cowboy bebop: tengoku no tobira        1
trigun                                 2
witch hunter robin                     3
bouken ou beet                         4
                                   ...
daomu biji zhi qinling shen shu    17557
mieruko-chan                       17558
higurashi no naku koro ni sotsu    17559
yama no susume: next summit        17560
scarlet nexus                      17561
Length: 17562, dtype: int64

In [139]:
print(X[35])

  (0, 22)	0.3716235435310268
  (0, 23)	0.43542731014553626
  (0, 28)	0.5186938566123578
  (0, 37)	0.3078519370756592
  (0, 11)	0.2875880111816387
  (0, 34)	0.2875880111816387
  (0, 8)	0.28622368720830504
  (0, 0)	0.24727543338207109

In [141]:
def getR(title):
    idx = idxMapping[title]
    q = X[idx]
    scores = cosine_similarity(q, X)
    scores = scores.flatten()
    recommended_idx = (-scores).argsort()[1:10]
    return df['Name'].iloc[recommended_idx]

In [143]:
def main():
    print(('\n').join(getR(input('Title: ')).tolist()))

In [151]:
main()

Title:  no game no life

super real mahjong: mahjong battle scramble - konran-teki sento mahjong
no game no life specials
rio: rainbow gate!
rio: rainbow gate! special
weiß survive
weiß survive r
super real mahjong: kasumi miki shouko no hajimemashite
yu☆gi☆oh!: hikari no pyramid
battle spirits: sword eyes